.slide{
  font-size: 1.5rem;
  background-color: #fff;
  margin-left: .4rem;
  margin-right: .4rem;
  border-radius: .4rem;
  ul{
    padding: .6rem;
    display: flex;
    justify-content: space-around;
    li{
      padding: .4rem 1rem;
      border-radius: .4rem;
    }
    .active{
      background-color: #80bd01;
      color: #fff;
    }
  }
}