.userInfo{
  padding: 1rem 3rem;
  .user-logo{
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
    img{
      width: 100%;
    }
  }
  .user-name{
    text-align: center;
    font-size: 2rem;
    color: #555;
  }
  .user-dec{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #80bd01;
  }
}