.comment {
  background-color: #fff; }
  .comment .comment-item {
    padding: 1rem;
    border-bottom: 1px solid #ddd; }
  .comment .coment-content {
    font-size: 1.4rem;
    margin-top: 1rem;
    overflow: scroll;
    background-color: #eee;
    padding: 1rem 1rem 0;
    border-radius: 4px; }
